[Unit]
Description=Watch for File Changes and Restart tailscaled

[Service]
ExecStart=/config/tailscale/tailscaled-watch.sh

[Install]
WantedBy=multi-user.target
